<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Vision" content="Vision Onepage or Multiconcept template ">
    <title>Home Page</title>
    <!-- favicon-->
    <link rel="shortcut icon" href="/images/favicon.io" type="image/x-icon">
    <!--    fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <!-- plugins -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/animate.css">
    <link rel="stylesheet" href="/vendor/themify-icon/themify-icons.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!--main css file-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50" id="home">
    <!--  navbar -->
    <nav id="fixed-top" class="navbar navbar-toggleable-sm transparent-nav navbar-expand-lg">
        <div class="container"><a class="navbar-brand appat_logo" href="index.html"><img src="images/logo.png" alt="logo" /><img src="images/logo-dk.png" alt="logo" /></a><button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
<!--                    <li class="nav-item submenu"><a class="nav-link active" href="#home">Home</a></li>-->
                   
                   
                   <li class="nav-item dropdown submenu"><a class="nav-link dropdown-toggle active" href="#home" role="button" data-toggle="dropdown" aria-expanded="false">Home</a>
                        <ul class="dropdown-menu sub-menu">
                            <li><a href="index">Home</a></li>
                        </ul>
                    </li>
                   
                    <li class="nav-item"><a class="nav-link" href="#features">Features</a></li>
                    <li class="nav-item"><a class="nav-link" href="#faq">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
                    <li class="nav-item"><a class="nav-link" href="#download">Download</a></li>
                    <li class="nav-item dropdown submenu">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">Blog</a>
                         <ul class="dropdown-menu">
                            <li><a href="blogsList">Blog</a></li>
                        </ul>
                    </li>
                </ul>
                <!--<ul class="nav navbar-nav navbar-right"><li class="search_dropdown open-popup"><a href="#"><i class="fa fa-search"></i></a></li></ul>--><a href="#" class="get-btn">Get Started</a>
            </div>
        </div>
    </nav>
    <!--end navigation-->

 {% block main %}
 
 {% endblock %}





       <footer class="footer-five">
        <div class="footer-top">
            <div class="container">
                <div class="row footer_sidebar">
                    <div id="about_us-1" class="widget footer-widget col-xs-6 col-sm-6 col-md-3 wow fadeIn widget1 about_us_widget" style="visibility: visible; animation-name: fadeIn;"> <a href="#" class="logo"><img src="images/logo.png" alt="AppArt"></a>
                        <p> Lorem ipsum dolor sit consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud. </p>
                    </div>
                    <div id="social_site_links-1" class="widget footer-widget col-xs-6 col-sm-6 col-md-3 wow fadeIn widget4 widget_social" style="visibility: visible; animation-name: fadeIn;">
                        <h4 class="widget_title_two">Social Link</h4>
                        <ul class="social-icon">
                            <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i> Instagram </a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i> Linkedin </a></li>
                            <li><a href="#"><i class="fa fa-pinterest"></i> Pinterest </a></li>
                        </ul>
                    </div>
                    <div id="nav_menu-1" class="widget footer-widget col-xs-6 col-sm-6 col-md-3 wow fadeIn widget_nav_menu" data-wow-delay="0ms" data-wow-duration="1500ms" data-wow-offset="0" style="visibility: visible; animation-duration: 1500ms; animation-delay: 0ms; animation-name: fadeIn;">
                        <h4 class="widget_title_two">Quick Links</h4>
                        <div class="menu-quick-links-container">
                            <ul id="menu-quick-links" class="menu">
                                <li id="menu-item-844" class="menu-item"><a href="#">About</a></li>
                                <li id="menu-item-845" class="menu-item"><a href="#">Social Info</a></li>
                                <li id="menu-item-846" class="menu-item"><a href="#">Subscribe</a></li>
                                <li id="menu-item-847" class="menu-item"><a href="#">Tags</a></li>
                            </ul>
                        </div>
                    </div>
                    <div id="contact_info-1" class="widget footer-widget col-xs-6 col-sm-6 col-md-3 wow fadeIn widget2 widget_contact" style="visibility: visible; animation-name: fadeIn;">
                        <h4 class="widget_title_two">Contact Info</h4>
                        <div class="widget_inner row m0">
                            <ul>
                                <li><i class="ti-location-pin"></i>
                                    <div class="location_address fleft">25 Bedford St. New York City, N.Y. United States Of America </div>
                                </li>
                                <li><i class="ti-mobile"></i>
                                    <div class="fleft contact_no">+88-017812-37134 </div>
                                </li>
                                <li><i class="ti-email"></i>
                                    <div class="fleft contact_mail"><a href="mailto:contact@website.com"> contact@website.com </a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m0 footer_bottom text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p>2019 <a href="#">DroitThemes</a>. All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- End of the footer -->
    <!-- Popup-START-->
    <div class="popup-wrapper">
        <div class="bg-layer"></div><!-- Popup1-START-->
        <div data-rel="1" class="popup-content">
            <div class="layer-close"></div>
            <div class="popup-container searhPopup size-2">
                <form>
                    <h5 class="h5 as light">Search</h5><input type="text" placeholder="Enter keyword" class="simple-input light">
                    <div class="searchBorderBottom"></div><button type="submit"><i class="fa fa-search"></i></button>
                </form><!-- Popup close button-START-->
                <div class="button-close style2"><i class="icon-close icons"></i></div><!-- Popup close button-END-->
            </div>
        </div>
    </div><!-- Popup1-END-->
    <!-- jQuery plugins-->
    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/parallax-scroll.js"></script>
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/mchimpsubs.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>